### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)
purchase_df
age_df = pd.read_csv(file_to_load)

purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
#locates the three columns from the main df
number_of_uniqueplayers = purchase_df.loc[:,["SN","Gender","Age"]]
#drops any duplicate rows
number_of_uniqueplayers = number_of_uniqueplayers.drop_duplicates()
number_of_players = len(number_of_uniqueplayers)
#creates data frame for number of players
players_count_summary=pd.DataFrame({"Number of Players":[number_of_players]})
players_count_summary

   Number of Players
0                576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#finds the unique item ids
number_of_uniqueitems = purchase_df["Item ID"].unique()
#counts how many unique items
number_of_items = len(number_of_uniqueitems)
number_of_purchases = purchase_df["Price"].count()
#sums the purchases
total_of_purchases = purchase_df["Price"].sum()
#finds the number of purchases
number_of_purchases = len(purchase_df["Item ID"])
average_price = purchase_df["Price"].mean()
#formats the price
average_price = "${:,.2f}".format(average_price)
summary= pd.DataFrame({"Number of Purchases":[number_of_purchases],
                      "Number of Items":number_of_items,
                      "Average Price":[average_price],
                      "Total Revenue":[total_of_purchases]})
summary["Total Revenue"]=summary["Total Revenue"].map("${:,.2f}".format)
summary

   Number of Purchases  Number of Items Average Price Total Revenue
0                  780              183         $3.05     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#counting the number of each genders
gender_demographic = number_of_uniqueplayers['Gender'].value_counts()
#calculating the percentage
gender_demographic_pct = (gender_demographic/number_of_players)
gender_demographic_pct
gender_summary= pd.DataFrame({"Total Count":gender_demographic,
                      "Percentage":gender_demographic_pct})
gender_summary["Percentage"]=gender_summary["Percentage"].map("{:,.2%}".format)
gender_summary

                       Total Count Percentage
Male                           484     84.03%
Female                          81     14.06%
Other / Non-Disclosed           11      1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#calculating spend by gender
gender_total_purchase = purchase_df.groupby("Gender").sum()["Price"]
#average price
gender_average_price = purchase_df.groupby("Gender").mean()["Price"]
gender_count = purchase_df.groupby("Gender").count()["Price"]
total_purchase_per_person = gender_total_purchase/gender_summary["Total Count"]

gender_purchase_summary= pd.DataFrame({"Purchase Count":gender_count,
                                       "Average Purchase Price":gender_average_price, 
                                       "Total Purchase Value":gender_total_purchase,
                                       "Avg Total Purchase per Person":total_purchase_per_person})
gender_purchase_summary["Average Purchase Price"]=gender_purchase_summary["Average Purchase Price"].map("${:,.2f}".format)
gender_purchase_summary["Total Purchase Value"]=gender_purchase_summary["Total Purchase Value"].map("${:,.2f}".format)
gender_purchase_summary["Avg Total Purchase per Person"]=gender_purchase_summary["Avg Total Purchase per Person"].map("${:,.2f}".format)
gender_purchase_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#setting the bins
bins = [0,9,14,19,24,29,34,39,1500]
group_names =["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
number_of_uniqueplayers["Total Count"] = pd.cut(number_of_uniqueplayers["Age"], bins, labels=group_names)
age_count = number_of_uniqueplayers['Total Count'].value_counts()
age_count_pct = age_count/number_of_players
age_count_summary= pd.DataFrame({"Total Count":age_count,
                                "Percentage of Players":age_count_pct })
age_count_summary["Percentage of Players"]=age_count_summary["Percentage of Players"].map("{:,.2%}".format)

age_count_summary

       Total Count Percentage of Players
20-24          258                44.79%
15-19          107                18.58%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
10-14           22                 3.82%
<10             17                 2.95%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
bins = [0,9,14,19,24,29,34,39,1500]
group_names =["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_df["Age Group"] = pd.cut(purchase_df["Age"], bins, labels=group_names)
age_purchase_count = purchase_df.groupby("Age Group").count()["Price"]
age_group = purchase_df.groupby("Age Group")
age_total_purchase = purchase_df.groupby("Age Group").sum()["Price"]
age_average_price = purchase_df.groupby("Age Group").mean()["Price"]
age_avg_purchase = age_total_purchase/age_count_summary["Total Count"]

age_spending_summary= pd.DataFrame({"Purchase Count":age_purchase_count,
                                "Average Purchase Price":age_average_price,
                                   "Total Purchase Value":age_total_purchase,
                                   "Avg Total Purchase per Person":age_avg_purchase})
                                    
age_spending_summary["Average Purchase Price"]=age_spending_summary["Average Purchase Price"].map("${:,.2f}".format)
age_spending_summary["Total Purchase Value"]=age_spending_summary["Total Purchase Value"].map("${:,.2f}".format)
age_spending_summary["Avg Total Purchase per Person"]=age_spending_summary["Avg Total Purchase per Person"].map("${:,.2f}".format)
age_spending_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#made the date frame to the only needed columns 
reduced_purchase_df = purchase_df.loc[:, ["SN", "Price", "Item Name"]]
sn_purchase_count = reduced_purchase_df.groupby("SN").count()["Item Name"]
sn_purchase_total =reduced_purchase_df.groupby("SN").sum()["Price"]
sn_avg_price = sn_purchase_total/sn_purchase_count
sn_df= pd.DataFrame({"Purchase Count":sn_purchase_count,
                                "Average Purchase Price":sn_avg_price,
                                   "Total Purchase Value":sn_purchase_total})

sn_sorted_df= sn_df.sort_values(['Total Purchase Value'], ascending=[False])
sn_sorted_df["Average Purchase Price"]=sn_sorted_df["Average Purchase Price"].map("${:,.2f}".format)
sn_sorted_df["Total Purchase Value"]=sn_sorted_df["Total Purchase Value"].map("${:,.2f}".format)
sn_sorted_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [16]:
reduced_item_df = purchase_df.loc[:, ["Item ID", "Item Name", "Price"]]
item_purchase_count = reduced_item_df.groupby(["Item Name","Item ID"]).count()["Price"]
item_purchase_total =reduced_item_df.groupby(["Item Name","Item ID"]).sum()["Price"]
item_price = item_purchase_total/item_purchase_count
item_df= pd.DataFrame({"Purchase Count":item_purchase_count,
                       "Item Price":item_price,
                       "Total Purchase Value":item_purchase_total})
item_sorted_df= item_df.sort_values(['Purchase Count'], ascending=[False])
item_sorted_df["Item Price"]=item_sorted_df["Item Price"].map("${:,.2f}".format)
item_sorted_df["Total Purchase Value"]=item_sorted_df["Total Purchase Value"].map("${:,.2f}".format)
item_sorted_df

,,Purchase Count,Item Price,Total Purchase Value
Item Name,Item ID,,,
"Oathbreaker, Last Hope of the Breaking Storm",178,12,$4.23,$50.76
"Extraction, Quickblade Of Trembling Hands",108,9,$3.53,$31.77
Nirvana,82,9,$4.90,$44.10
Fiery Glass Crusader,145,9,$4.58,$41.22
"Pursuit, Cudgel of Necromancy",19,8,$1.02,$8.16
...,...,...,...,...
Exiled Mithril Longsword,126,1,$2.00,$2.00
Betrayer,90,1,$2.94,$2.94
Endbringer,51,1,$4.66,$4.66
The Decapitator,42,1,$1.75,$1.75
"Riddle, Tribute of Ended Dreams",27,1,$3.30,$3.30

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [17]:
item_value_sorted_df =item_df.sort_values(['Total Purchase Value'], ascending=[False])
item_value_sorted_df["Item Price"]=item_value_sorted_df["Item Price"].map("${:,.2f}".format)
item_value_sorted_df["Total Purchase Value"]=item_value_sorted_df["Total Purchase Value"].map("${:,.2f}".format)
item_value_sorted_df

,,Purchase Count,Item Price,Total Purchase Value
Item Name,Item ID,,,
"Oathbreaker, Last Hope of the Breaking Storm",178,12,$4.23,$50.76
Nirvana,82,9,$4.90,$44.10
Fiery Glass Crusader,145,9,$4.58,$41.22
Final Critic,92,8,$4.88,$39.04
Singed Scalpel,103,8,$4.35,$34.80
...,...,...,...,...
Whistling Mithril Warblade,125,2,$1.00,$2.00
Exiled Mithril Longsword,126,1,$2.00,$2.00
Crucifer,23,1,$1.99,$1.99
Gladiator's Glaive,104,1,$1.93,$1.93
The Decapitator,42,1,$1.75,$1.75

In [18]:
print("The three trends I noticed were, over 84% of the players were male, 58% of the players are in their 20s, and Even though males were 84% of the players they were only 82% of the spend")

The three trends I noticed were, over 84% of the players were male, 58% of the players are in their 20s, and Even though males were 84% of the players they were only 82% of the spend